<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Form!</title>
</head>
<body>
    <h1>Login</h1>
    <!-- Sprawdzamy czy inputy sa wyswietlane poprawnie-->
    <form method="POST" action="{{ url_for('form') }}">
        <!-- csrf token sie przyda pozniej do zabezpieczenia danych  w aplikacji, wyjasnienie co to: sekurak.pl/czym-jest-podatnosc-csrf-cross-site-request-forgery/ -->
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username }}
        <ul>
            {% for error in form.username.errors %}
            <li style="color: red"> {{ error }} </li>
            {% endfor %}
        </ul>
        {{ form.password.label }}
        {{ form.password }}
        <ul>
            {% for error in form.password.errors %}
            <li style="color: red"> {{ error }} </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>